<h1>Databases!</h1>

<p>This component demonstrates fetching data from the server.</p>

<mat-accordion *ngIf="databases$ | async as databases; else skeleton">
  <mat-expansion-panel *ngFor="let database of databases">
    <mat-expansion-panel-header (click)="initializeTablesRetrieved(database.name)">
      <mat-panel-title>
        {{ database.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="databaseTablesRetrievedInitialized(database.name)">
      <app-table-explorer [databaseName]="database.name"></app-table-explorer>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #skeleton>
  <p><em>Loading...</em></p>
</ng-template>
