@{
	ViewData["Title"] = "Home Page";
}

<h2 class="text-center"> Are you ready to drop some tables?</h2>

<div class="text-center mt-5"> 
	<a class="btn btn-primary" href="https://cponline.pw/">Take my back!</a>
	<a class="btn btn-danger" asp-area="" asp-controller="Database" asp-action="Login">Hell yeah!</a>
</div>
